<style type="text/css">
body{
    font-size: 16px;
}

#challenge {
    width:300px;
}

input[type="text"] {
    border: 1px solid #CCC;
    font-size: 1.75em;
}

P.entry {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.75em;
    width: 30em
}
</style>

{% if bingocard %}
  Your openid: {{ bingocard.openid }}<input type="hidden" id="id" name="id" value="{{ bingocard.openid }}"/>
  <br/>
  Your grid: {{ bingocard.grid }}
  <br/>
<p class="entry">
  Enter challenge string: <input type="text" id="challenge" name="challenge"/> 
                          <input type="button" id="submitChallenge" value="Submit"/>
</p>
  <p>
  <div id="response"></div>
{% else %}
  No grid found for your openid.
{% endif %}

<script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
<script>
$(document).ready(function(){
   $('#submitChallenge').click(function(){    
	$.getJSON('/bingocardlookup/decode/',
                  { id : $('#id').val(),
                    challenge : $('#challenge').val() },
                  function(data){
           		$('#response').text("Response is: " + data.response);
        	  });
   });   
});
</script>
