{% extends "lookupapp/base.html" %}

{% block title %} Decode String {% endblock %}

{% block pageheader %} <h2>Decode your challenge String here.</h2> {% endblock %}

{% block content %}

{% if bingocard %}
  <br/>
<p class="entry">
  <input type="hidden" id="id" name="id" value="{{ id }}"/>
  Enter challenge string: <input type="text" class="biginput" id="challenge" name="challenge" style="vertical-align: middle"/> 
                          <input type="button" class="btn large primary" id="submitChallenge" value="Submit" style="vertical-align: middle; width: 150px; height: 50px"/>
</p>
  <p>
  <div id="response"></div>
{% else %}
  No grid found for your openid.
{% endif %}

<script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
<script>
$(document).ready(function(){
   $('#submitChallenge').click(function(){    
	$.getJSON('/bingocardlookup/decode/',
                  { id : $('#id').val(),
                    challenge : $('#challenge').val() },
                  function(data){
           		$('#response').text("Response is: " + data.response);
        	  });
   });   
});
</script>

{% endblock %}
