{% extends "lookupapp/base.html" %}

{% block title%} Enter Your Grid {% endblock %}

{% block pageheader %} {% if request.session.bingocard %} Edit {% else %} Register {% endif %} your grid card. {% endblock %}

{% block content %}

  <br/>
<form id="form" action="" method="post">{% csrf_token %}
<p class="entry grid">
<table id="gridtable" class="center">
  <thead>
    <tr>
    <th></th>
    <th>A</th>
    <th>B</th>
    <th>C</th>
    <th>D</th>
    <th>E</th>
    <th>F</th>
    <th>G</th>
    <th>H</th>
    <th>I</th>
    <th>J</th>
    <th></th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td>1</td>
    <td><input type="text" class="textborder" maxlength="1" size="1"/></td>
    <td><input type="text" class="textborder" maxlength="1" size="1"/></td>
    <td><input type="text" class="textborder" maxlength="1" size="1"/></td>
    <td><input type="text" class="textborder" maxlength="1" size="1"/></td>
    <td><input type="text" class="textborder" maxlength="1" size="1"/></td>
    <td><input type="text" class="textborder" maxlength="1" size="1"/></td>
    <td><input type="text" class="textborder" maxlength="1" size="1"/></td>
    <td><input type="text" class="textborder" maxlength="1" size="1"/></td>
    <td><input type="text" class="textborder" maxlength="1" size="1"/></td>
    <td><input type="text" class="textborder" maxlength="1" size="1"/></td>
    <td>1</td>
  </tr>
  <tr>
    <td>2</td>
    <td><input type="text" class="textborder" maxlength="1" size="1"/></td>
    <td><input type="text" class="textborder" maxlength="1" size="1"/></td>
    <td><input type="text" class="textborder" maxlength="1" size="1"/></td>
    <td><input type="text" class="textborder" maxlength="1" size="1"/></td>
    <td><input type="text" class="textborder" maxlength="1" size="1"/></td>
    <td><input type="text" class="textborder" maxlength="1" size="1"/></td>
    <td><input type="text" class="textborder" maxlength="1" size="1"/></td>
    <td><input type="text" class="textborder" maxlength="1" size="1"/></td>
    <td><input type="text" class="textborder" maxlength="1" size="1"/></td>
    <td><input type="text" class="textborder" maxlength="1" size="1"/></td>
    <td>2</td>
  </tr>
  <tr>
    <td>3</td>
    <td><input type="text" class="textborder" maxlength="1" size="1"/></td>
    <td><input type="text" class="textborder" maxlength="1" size="1"/></td>
    <td><input type="text" class="textborder" maxlength="1" size="1"/></td>
    <td><input type="text" class="textborder" maxlength="1" size="1"/></td>
    <td><input type="text" class="textborder" maxlength="1" size="1"/></td>
    <td><input type="text" class="textborder" maxlength="1" size="1"/></td>
    <td><input type="text" class="textborder" maxlength="1" size="1"/></td>
    <td><input type="text" class="textborder" maxlength="1" size="1"/></td>
    <td><input type="text" class="textborder" maxlength="1" size="1"/></td>
    <td><input type="text" class="textborder" maxlength="1" size="1"/></td>
    <td>3</td>
  </tr>
  <tr>
    <td>4</td>
    <td><input type="text" class="textborder" maxlength="1" size="1"/></td>
    <td><input type="text" class="textborder" maxlength="1" size="1"/></td>
    <td><input type="text" class="textborder" maxlength="1" size="1"/></td>
    <td><input type="text" class="textborder" maxlength="1" size="1"/></td>
    <td><input type="text" class="textborder" maxlength="1" size="1"/></td>
    <td><input type="text" class="textborder" maxlength="1" size="1"/></td>
    <td><input type="text" class="textborder" maxlength="1" size="1"/></td>
    <td><input type="text" class="textborder" maxlength="1" size="1"/></td>
    <td><input type="text" class="textborder" maxlength="1" size="1"/></td>
    <td><input type="text" class="textborder" maxlength="1" size="1"/></td>
    <td>4</td>
  </tr>
  <tr>
    <td>5</td>
    <td><input type="text" class="textborder" maxlength="1" size="1"/></td>
    <td><input type="text" class="textborder" maxlength="1" size="1"/></td>
    <td><input type="text" class="textborder" maxlength="1" size="1"/></td>
    <td><input type="text" class="textborder" maxlength="1" size="1"/></td>
    <td><input type="text" class="textborder" maxlength="1" size="1"/></td>
    <td><input type="text" class="textborder" maxlength="1" size="1"/></td>
    <td><input type="text" class="textborder" maxlength="1" size="1"/></td>
    <td><input type="text" class="textborder" maxlength="1" size="1"/></td>
    <td><input type="text" class="textborder" maxlength="1" size="1"/></td>
    <td><input type="text" class="textborder" maxlength="1" size="1"/></td>
    <td>5</td>
  </tr>
  </tbody>
</table>
{% if request.session.bingocard %} 
  <input type="hidden" name="grid" id="grid" value="{{ request.session.bingocard.grid }}" /> 
{% else %}
  <input type="hidden" name="grid" id="grid"/>
{% endif %}
<input type="hidden" name="openid" id="openid" value="{{ request.session.id }}"/>
<input type="button" class="btn large primary" id="save" value="Save" style="width: 150px; height: 50px; float:right; margin-right: 3px;"/>
<span id="alert" class="error"></span>
</p>
</form>

<script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
<script>
$(document).ready(function(){

   //If a grid is present in the session, we're in edit mode - so populate the input elements. 
   if($("#grid").val())
   { 
     var trs = $("#gridtable tbody tr");             
     var grid = $("#grid").val();                    

     //for each row in the grid, extract the inner array and set the input values
     $.each(eval(grid), function(index, value){      
              var tr = trs[index];
              $.each(eval(value), function(ind, val){
                        $(tr).find(":text")[ind].value = val;
                  });
           });
   }

   //On save, validate and submit string value of grid.
   $('#save').click(function(){ 
        $(".error").removeClass("error");
        $("#alert").text("");
   
	if($("#gridtable :text[value='']").length)
	{
	   $("#gridtable :text[value='']").addClass("error");
           $("#alert").text("All cells are required.").addClass("error");
           return;
	}
        else
        {
           var rowgrid = $("#gridtable tbody tr").map(function(){
                               return "["+$(this).find(":text").map(function(){ return "'"+this.value+"'"; }).get().toString()+"]";
                           });
           $("#grid").val("["+rowgrid.get()+"]");
           $("#form").submit();
        }
   });   
});
</script>
{% endblock %}
